body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f0cab6, #ff5e62);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5e62;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #574d47;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li input[type="text"] {
    background: transparent;
    border: none;
    color: #fff;
    flex: 1;
    margin-right: 10px;
}

li input[type="text"]:disabled {
    background: transparent;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

li button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

li button:hover {
    color: #ff9966;
}
